<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rsi.Colonya" version="3.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Colonya</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@altran.com" href="http://www.altran.es">
        Altran España
    </author>
    <content src="index.html" />
    <access origin="http:*" launch-external="yes"/>
    <access origin="https:*" launch-external="yes"/>
    <access launch-external="yes" origin="tel:*" />
    <access launch-external="yes" origin="mailto:*" />
    <allow-navigation href="*" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="7000" />
    <platform name="android">

        <preference name="Fullscreen" value="false" />
        <preference name="android-windowSoftInputMode" value="adjustResize" />
        <preference name="Orientation" value="portrait" />
        <icon density="ldpi" src="res/icono/Android/36.png" />
        <icon density="mdpi" src="res/icono/Android/48.png" />
        <icon density="hdpi" src="res/icono/Android/72.png" />
        <icon density="xhdpi" src="res/icono/Android/96.png" />
        <icon density="xxhdpi" src="res/icono/Android/144.png" />
        <splash density="land-hdpi" src="res/Splash/Android/screen-hdpi-landscape.png" />
        <splash density="land-ldpi" src="res/Splash/Android/screen-ldpi-landscape.png" />
        <splash density="land-mdpi" src="res/Splash/Android/screen-mdpi-landscape.png" />
        <splash density="land-xhdpi" src="res/Splash/Android/screen-xhdpi-landscape.png" />


        <splash density="port-hdpi" src="res/Splash/Android/screen-hdpi-portrait_480x800.png" />
        <splash density="port-ldpi" src="res/Splash/Android/screen-ldpi-portrait_240x320.png" />
        <splash density="port-mdpi" src="res/Splash/Android/screen-mdpi-portrait_320x480.png" />
        <splash density="port-xhdpi" src="res/Splash/Android/screen-xhdpi-portrait_720x1280.png" />


        <!--<splash density="port-hdpi" src="res/Splash/Android/screen-hdpi-portrait.png" />
        <splash density="port-ldpi" src="res/Splash/Android/screen-ldpi-portrait.png" />
        <splash density="port-mdpi" src="res/Splash/Android/screen-mdpi-portrait.png" />
        <splash density="port-xhdpi" src="res/Splash/Android/screen-xhdpi-portrait.png" />-->


    </platform>
    <platform name="ios">
        <preference name="Fullscreen" value="true" />
        <preference name="Orientation" value="portrait" />
        <icon height="180" src="res/Icono/IOS/icon-60@3x.png" width="180" />
        <icon height="60" src="res/Icono/IOS/icon-60.png" width="60" />
        <icon height="120" src="res/Icono/IOS/icon-60@2x.png" width="120" />
        <icon height="76" src="res/Icono/IOS/icon-76.png" width="76" />
        <icon height="152" src="res/Icono/IOS/icon-76@2x.png" width="152" />
        <icon height="40" src="res/Icono/IOS/icon-Small-40.png" width="40" />
        <icon height="80" src="res/Icono/IOS/icon-Small-40@2x.png" width="80" />
        <icon height="57" src="res/Icono/IOS/icon.png" width="57" />
        <icon height="114" src="res/Icono/IOS/icon@2x.png" width="114" />
        <icon height="72" src="res/Icono/IOS/icon-72.png" width="72" />
        <icon height="144" src="res/Icono/IOS/icon-72@2x.png" width="144" />
        <icon height="29" src="res/Icono/IOS/icon-small.png" width="29" />
        <icon height="58" src="res/Icono/IOS/icon-small@2x.png" width="58" />
        <icon height="50" src="res/Icono/IOS/icon-Small-50.png" width="50" />
        <icon height="100" src="res/Icono/IOS/icon-Small-50@2x.png" width="100" />
        <splash height="480" src="res/Splash/IOS/320x480.png" width="320" />
        <splash height="960" src="res/Splash/IOS/640x960.png" width="640" />
        <splash height="1024" src="res/Splash/IOS/768x1027.png" width="768" />
        <splash height="2048" src="res/Splash/IOS/1536x2048.png" width="1536" />
        <!-- <splash height="768" src="res/Splash/IOS/1024x768.png" width="1024" /> -->
        <splash height="1536" src="res/Splash/IOS/2048x1536.png" width="2048" />
        <splash height="1136" src="res/Splash/IOS/640x1136.png" width="640" />
        <splash height="1334" src="res/Splash/IOS/750x1334.png" width="750" />
        <splash height="2208" src="res/Splash/IOS/1242x2208.png" width="1242" />
    </platform>
    <preference name="xwalkVersion" value="16+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
</widget>
