<?xml version='1.0' encoding='utf-8'?>
<plugin id="ruralvia-data-dump" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ruralvia-data-dump</name>
    <js-module name="ruralvia-data-dump" src="www/ruralvia-data-dump.js">
        <clobbers target="rvDataDump" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Data-Dump">
                <param name="android-package" value="com.cajarural.data.DataDump"/>
            </feature>
        </config-file>

        <source-file src="src/android/DataDump.java"
                 target-dir="src/com/cajarural/data"/>
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Data-Dump">
                <param name="ios-package" value="DataDump"/>
            </feature>
        </config-file>

        <header-file src="src/ios/DataDump.h" />
        <source-file src="src/ios/DataDump.m" />
    </platform>    
</plugin>
