<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sngular.com.atmsmap">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".app.RSIApplication"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".presentation.view.activity.MapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".presentation.view.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
